* {
    box-sizing: border-box;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.container {
    background: url(../img/background.png) no-repeat center center fixed;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
}

.checkbox__button-submit,
.checkbox__button-text,
.checkbox__button {
    line-height: 16px;
    font-size: 16px;
}

.header {
    padding: 18px 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px 0px #00000040;
    background: #00000066;
}

.header__logo-text {
    font-family: Ubuntu;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.nav__item-picture {
    fill: #FFFFFF;
}

.header__logo-text :hover,
.header__nav-login :hover {
    color: rgba(60, 184, 120, 0.547);
    transition: color ease-in-out 0.2s;
}

.login__link:hover {
    color: rgba(255, 255, 255, 0.556);
    transition: color ease-in-out 0.2s;
}

.nav__item-picture:hover {
    fill: rgba(60, 184, 120, 0.547);
    transition: fill ease-in-out 0.2s;
}

.header__logo-text:hover {
    color: #3CB878;
    transition: color ease-in-out 0.2s;
}

.header__nav,
.header__nav-item,
.header__nav-login {
    display: flex;
    align-items: center;
}

.header__nav-login:first-of-type {
    padding-left: 27px;
}

.nav__item-link {
    padding-right: 27px;
}

.header__nav-item {
    border-right: 1px solid #FFFFFFE5;
}

.header__nav-login * {
    padding: 0 4px;
    color: #FFFFFF;
}

.header__nav-login a:last-of-type {
    padding-right: 0;
}

.checkbox {
    padding: 31px 60px 38px 60px;
    position: relative;
    z-index: 1000;
    background: #FFFFFF;
}

.checkbox__signUp::before {
    content: ' ';
    display: block;
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    top: 32px;
    left: 0;
}

.checkbox {
    width: 444px;
}

.menu__items {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox__signLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.checkbox__signUp {
    font-size: 20px;
    line-height: 20px;
    color: #434343;

    padding-right: 216px;
}

.checkbox__logIn {
    color: #3CB878;
}

.checkbox__logIn:hover {
    color: #01813F;
    text-decoration: underline;
    transition: text-decoration ease-in-out 0.2s;
    transition: color ease-in-out 0.2s;
}

.checkbox__button {
    padding: 12px 22px 12px 11px;
    margin-block: 15px 34px;
    display: flex;
    align-items: center;
    background-color: #305DB8;
    color: #FFFFFF;
    border-radius: 2px;
    width: 160px;
    height: 48px;
}

.checkbox__button:hover {
    background-color: #022263;
    transition: background-color ease-in-out 0.2s;
}


.checkbox__button svg {
    border-right: 1px solid rgba(10, 22, 47, .1);
    padding-right: 13px;
    width: 24px;
    height: 24px;
}

.checkbox__button-text {
    padding-left: 18px;
}

.checkbox__button:last-of-type {
    background-color: #DF4A32;
}

.checkbox__button:last-of-type:hover {
    background-color: #AB1F09;
    transition: background-color ease-in-out 0.2s;
}

.size svg {
    width: 44px;
    border-right: 1px solid rgba(43, 13, 9, .1);
    padding-right: 7px;
}

.checkbox__form {
    border-top: 1px solid #F2F2F2;
    position: relative;
}

.checkbox__form-text {
    position: absolute;
    display: block;
    text-align: center;
    left: 50%;
    line-height: 10px;
    color: #848484;
    width: 15px;
    height: 14px;
    background: white;
    transform: translateY(-50%);
}

.checkbox__form-input {
    margin-top: 16px;
    padding: 14px 20px;
    color: #BEBEBE;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    width: 100%;
}

input {
    outline: none;
}

.checkbox__form-input:focus:focus-visible {
    color: #434343;
    box-shadow: 0px 3px 8px 0px #00000036;
}

.checkbox__form-checkbox {
    display: none;
}

.checkbox__area-active {
    display: none
}

.checkbox__area {
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    margin-right: 8px;
}

.checkbox__label {
    padding-top: 12px;
    display: flex;
    align-items: center;
    position: relative;
}

.checkbox__form-checkbox:checked+.checkbox__area-active {
    display: block;
    position: absolute;
    top: 14px;
    left: 2px
}

.checkbox__area-text a {
    color: #3CB878;
}

.checkbox__area-text a:hover {
    color: #01813F;
    text-decoration: underline;
    transition: text-decoration ease-in-out 0.2s;
    transition: color ease-in-out 0.2s;
}

.checkbox__button-submit {
    margin-top: 20px;
    padding: 16px 99px;
    text-align: center;
    width: 100%;
    color: #FFFFFF;
    background-color: #3CB878CC;
    border-radius: 4px;
}

.checkbox__button-submit:hover {
    background-color: #01813F;
    transition: background-color ease-in-out 0.2s;
}